.about {
    display: flex;
    flex-direction: column;

    &__top {
        display: flex;
        justify-content: space-between;

        @include desktop {
            flex-direction: column;
            align-items: center;
        }

        & img {
            @include desktop {
                order: 2;
            }

            @include mobile {
                height: 310px;
                margin-block-start: 10px;
            }
        }
    }

    &__info {
        max-width: 530px;

        @include desktop {
            display: contents;
        }

        &-n {
            @include desktop {
                display: none;
            }
        }

        &-title {
            font-size: clamp(43px, 5vw, 60px);
            line-height: 76.56px;

            @include desktop {
                line-height: 55px;
                text-align: center;
                order: 1;
            }

            @include mobile {
                text-align: left;
            }
        }

        &-text {
            font-size: 20px;
            line-height: 1.4em;
            padding-block: 36px 35px;

            @include desktop {
                text-align: center;
                order: 3;
            }

            @include mobile {
                font-size: 16px;
                line-height: 1.5em;
                text-align: left;
                padding-block: 21px 40px;
            }
        }
    }

    &__list {
        display: flex;
        justify-content: space-between;
        filter: grayscale(100%);
        padding-block: 70px 140px;

        @include tablet {
            justify-content: center;
            flex-wrap: wrap;
            column-gap: 40px;
            padding-block: 70px;
        }

        @include mobile {
            padding-block: 60px;
        }

        @include mobile-s {
            justify-content: end;
            column-gap: 38px;
            row-gap: 20px;
            width: calc(100vw + 120px);
            margin-inline: -84px -76px;
        }


        &-item {
            transition: var(--transition);

            @include hover {
                transform: scale(1.1);
                transition: var(--transition);
            }

            &:nth-child(4) {
                @include mobile-s {
                    order: 5;
                }
            }

            &:nth-child(5) {
                @include mobile-s {
                    order: 4;
                }
            }

            &:nth-child(6) {
                @include mobile-s {
                    margin-right: 90px;
                    order: 6;
                }
            }
        }
    }
}
