.about {
    display: flex;
    flex-direction: column;

    &__top {
        display: flex;
        justify-content: space-between;

        @include desktop {
            flex-direction: column;
            align-items: center;
        }

        & img {
            @include desktop {
                order: 2;
            }
        }
    }

    &__info {
        max-width: 530px;

        @include desktop {
            display: contents;
        }

        &-n {
            @include desktop {
                display: none;
            }
        }

        &-title {
            font-size: clamp(43px, 5vw, 60px);
            line-height: 76.56px;

            @include desktop {
                line-height: 55px;
                text-align: center;
                order: 1;
            }
        }

        &-text {
            font-size: 20px;
            line-height: 1.4em;
            padding-block: 36px 35px;

            @include desktop {
                text-align: center;
                order: 3;
            }
        }
    }

    &__list {
        display: flex;
        justify-content: space-between;
        filter: grayscale(100%);
        padding-block: 70px 140px;

        @include tablet {
            justify-content: center;
            flex-wrap: wrap;
            column-gap: 40px;
            padding-block: 70px;
        }
    }
}
