.button {
    font-size: 20px;
    line-height: 1.4em;
    border-radius: var(--border-radius-small);
    border: none;

    @include hover {
        color: pink;
        transition: var(--transition);
    }

    @include mobile {
        width: 100%;
    }

    &__header {
        padding: 19px 34px;
        border: var(--border);

        @include desktop {
            padding: 5px 10px;
        }
    }

    &__about {
        @include desktop {
            order: 4;
        }
    }

    &__services-card {
        position: relative;
        padding: 6.5px 0;
        width: 218px;

        @include mobile {
            color: transparent;
            width: 120px;
            white-space: nowrap;
            overflow: hidden;
        }


        &::before {
            display: block;
            position: absolute;
            content: "";
            height: 100%;
            aspect-ratio: 1;
            border-radius: 50%;
            top: 50%;
            transform: translate(0, -50%);
            background: center / 52% no-repeat url('./../image/svg/desktop/arrow.svg') var(--color-dark);
        }
    }

    &-transparent {
        background-color: transparent;
    }

    &-dark {
        color: var(--color-light);
        background-color: var(--color-dark);
        padding: 20px 35px;
    }
}

.visible-mobile {
    display: none;

    @include mobile {
        display: block;
    }
}
