.header {

    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-block: 60px 70px;

        @include desktop {
            padding-block: 30px 40px;
        }
    }

    &__control {
        display: flex;
        align-items: center;
    }

    &__logo-image {
        @include desktop {
            width: 112px;
        }
    }
}
