.process {
    &__list {
        display: flex;
        flex-direction: column;
        row-gap: 30px;
        list-style: none;
        counter-reset: details;
    }

    &__item {
        counter-increment: details;
    }

    &__details {
        --indicatorVerticalRotate: 90deg;
        border: var(--border);
        border-radius: var(--border-radius-large);
        box-shadow: var(--shadow-card);
        background-color: var(--color-gray);
        max-height: 159px;
        overflow: hidden;
        transition: all 0.6s ease;


        &[open] {
            --indicatorVerticalRotate: 0deg;
            background-color: var(--color-green);
            max-height: 279px;
        }

        &-header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 50.7px 57px 50.7px 60px;

            & h3 {
                display: flex;
                margin: 0;

                &::before {
                    content: '0' counter(details);
                    font-size: 2em;
                    padding-inline-end: 25px;

                    @include mobile {
                        font-size: 30px;
                    }
                }
            }
        }

        &-body {
            padding-block: 30px 41px;
            margin-inline: 60px;
            border-top: 1px solid var(--color-black);
        }

        &-button {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            @include square(56px);
            border: var(--border);
            border-radius: 50%;

            &::after,
            &::before {
                @include abs-center;
                content: '';
                height: 3px;
                width: 30px;
                background-color: var(--color-dark);
            }

            &::after {
                rotate: var(--indicatorVerticalRotate);
                transition: var(--transition);
            }
        }
    }
}
