.services {
    &__body {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 40px;
        padding-block-end: 122px;

        @include desktop {
            justify-items: center;
            grid-template-columns: 1fr;
        }

        @include mobile {
            padding-block-end: 70px;
            gap: 30px;
        }
    }

    &__footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: var(--color-gray);
        border-radius: var(--border-radius-large);
        padding-inline: 60px 135px;
        margin-block-end: 163.5px;

        @include tablet {
            padding-inline: 30px;
        }

        @include mobile {
            padding: 50px;
            margin-block-end: 56px;
        }

        &-info {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            row-gap: 26px;
            max-width: 500px;

            @include mobile {
                row-gap: 20px;
            }
        }

        &-title {
            margin: 0;
        }

        & img {
            margin-block: -23.5px;

            @include mobile {
                display: none;
            }
        }
    }
}
