body {
    max-width: var(--wide-general-content);
    margin: 0 auto;
    padding-inline: 20px;
    font-family: var(--font-family);
    font-size: clamp(16px, 1.5vw, 18px);
    line-height: 1.28em;
    font-weight: 400;
    color: var(--color-black);
    overflow-x: hidden;

    @include mobile {
        line-height: 24px;
    }
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--color-black);
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 500;
}

h2 {
    font-size: clamp(36px, 3.33vw, 40px);
    line-height: 51.04px;
}

.title-decoration {
    padding-inline: 7px;
    background-color: var(--color-green);
    border-radius: var(--border-radius-tiny);
}

.alternative {
    background-color: var(--color-light);
}

h3 {
    font-size: clamp(26px, 2.5vw, 30px);
    line-height: 38.28px;

    @include mobile {
        line-height: 33.18px;
    }
}
