.visually-hidden {
    @include visualy-hiden;
}

.position-top {
    display: flex;
    justify-content: start;
    column-gap: 40px;
    padding-block-end: 80px;

    @include tablet {
        justify-content: center;
    }

    @include mobile {
        justify-content: center;
        flex-direction: column;
        align-items: center;
        padding-block-end: 39px;
        row-gap: 26px;
    }

    &-description {
        max-width: 580px;

        @include mobile {
            max-width: 100%;
            text-align: center;
        }
    }

    &-alt {
        @include mobile {
            padding-block-end: 31px
        }
    }
}

.show-above-table {
    @include mobile-above {
        display: none;
    }
}

