*,
*::before,
*::after {
  box-sizing: border-box;
}

:where(ul, ol):where([class]) {
  padding-left: 0;
}

body,
:where(blockquote, figure):where([class]) {
  margin: 0;
}

:where(h1, h2, h3, h4, h5, h6, p, ul, ol, dl):where([class]) {
  margin-block: 0;
}

:where(dd[class]) {
  margin-left: 0;
}

:where(fieldset[class]) {
  margin-left: 0;
  padding: 0;
  border: none;
}

:where(ul[class]) {
  list-style: none;
}

p {
  --paragraphMarginBottom: 24px;
  margin-block: 0;
}

p:where(:not([class]):not(:last-child)) {
  margin-bottom: var(--paragraphMarginBottom);
}

img {
  display: block;
  max-width: 100%;
}

input,
textarea,
select,
button {
  font: inherit;
}

html {
  height: 100%;
  scroll-behavior: smooth;
}

body {
  min-height: 100%;
  line-height: 1.5;
}

svg *[fill] {
  fill: currentColor;
}

svg *[stroke] {
  stroke: currentColor;
}

svg * {
  transition-property: fill, stroke;
}

@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
@font-face {
  font-family: "Space Grotesk";
  src: url("../fonts/SpaceGrotesk-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Space Grotesk";
  src: url("../fonts/SpaceGrotesk-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
:root {
  --color-light: #FFFFFF;
  --color-gray: #F3F3F3;
  --color-green: #B9FF66;
  --color-dark: #191A23;
  --color-black: #000000;
  --font-family: "Space Grotesk", sans-serif;
  --border: 1px solid var(--color-dark);
  --shadow-card: 0 5px 0 0 var(--color-dark);
  --border-radius-tiny: 7px;
  --border-radius-small: 14px;
  --border-radius-large: 45px;
  --wide-content: 1240px;
  --wide-padding-content: 20px;
  --wide-general-content: calc(var(--wide-content) + var( --wide-padding-content) * 2);
}

.visually-hiden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  max-width: var(--wide-general-content);
  margin: 0 auto;
  padding-inline: 20px;
  font-family: var(--font-family);
  font-size: clamp(16px, 1.5vw, 18px);
  line-height: 1.28em;
  font-weight: 400;
  color: var(--color-black);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--color-black);
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 500;
}

h2 {
  font-size: clamp(36px, 3.33vw, 40px);
  line-height: 51.04px;
}

h2.title-decoration {
  padding-inline: 7px;
  background-color: var(--color-green);
  border-radius: var(--border-radius-tiny);
}

h3 {
  font-size: clamp(26px, 2.5vw, 30px);
  line-height: 38.28px;
}

.button {
  font-size: 20px;
  line-height: 1.4em;
  border-radius: var(--border-radius-small);
  border: none;
}
.button__header {
  padding: 19px 34px;
  border: var(--border);
}
.button__services-card {
  position: relative;
  padding: 6.5px 0;
  width: 210px;
}
.button__services-card::before {
  display: block;
  position: absolute;
  content: "";
  height: 100%;
  aspect-ratio: 1;
  border-radius: 50%;
  top: 50%;
  transform: translate(0, -50%);
  background: center/55% no-repeat url("../image/svg/desktop/arrow.svg") var(--color-dark);
}
.button-transparent {
  background-color: transparent;
}
.button-dark {
  color: var(--color-light);
  background-color: var(--color-dark);
  padding: 20px 35px;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: 60px 70px;
}
.header__control {
  display: flex;
  align-items: center;
}

.navigation__list {
  display: flex;
  column-gap: 40px;
  margin-right: 43px;
  font-size: 20px;
  line-height: 1.4em;
}

.about {
  display: flex;
  flex-direction: column;
}
.about__top {
  display: flex;
  justify-content: space-between;
}
.about__info {
  max-width: 530px;
}
.about__info-title {
  font-size: clamp(43px, 5vw, 60px);
  line-height: 76.56px;
}
.about__info-text {
  font-size: 20px;
  line-height: 1.4em;
  padding-block: 36px 35px;
}
.about__list {
  display: flex;
  justify-content: space-between;
  filter: grayscale(100%);
  padding-block: 70px 140px;
}

.services__header {
  display: flex;
  justify-content: start;
  column-gap: 40px;
}
.services__header-description {
  max-width: 580px;
}
.services__body {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  padding-block: 80px 100px;
}

.card {
  border: var(--border);
  border-radius: var(--border-radius-large);
  box-shadow: var(--shadow-card);
}
.card__services {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 600px;
  padding: 49px;
}
.card__services:nth-of-type(3n+1) {
  background-color: var(--color-gray);
}
.card__services:nth-of-type(3n+2) {
  background-color: var(--color-green);
}
.card__services:nth-of-type(3n+3) {
  background-color: var(--color-dark);
}
.card__services:nth-of-type(3n+3) .button__services-card {
  color: white;
}
.card__services:nth-of-type(3n+3) .button__services-card::before {
  background: center/55% no-repeat url("../image/svg/desktop/arrow-white.svg") var(--color-light);
}
.card__services-title:last-of-type {
  margin-bottom: 93px;
}
