*,
*::before,
*::after {
  box-sizing: border-box;
}

:where(ul, ol):where([class]) {
  padding-left: 0;
}

body,
:where(blockquote, figure):where([class]) {
  margin: 0;
}

:where(h1, h2, h3, h4, h5, h6, p, ul, ol, dl):where([class]) {
  margin-block: 0;
}

:where(dd[class]) {
  margin-left: 0;
}

:where(fieldset[class]) {
  margin-left: 0;
  padding: 0;
  border: none;
}

:where(ul[class]) {
  list-style: none;
}

p {
  --paragraphMarginBottom: 24px;
  margin-block: 0;
}

p:where(:not([class]):not(:last-child)) {
  margin-bottom: var(--paragraphMarginBottom);
}

img {
  display: block;
  max-width: 100%;
}

input,
textarea,
select,
button {
  font: inherit;
}

html {
  height: 100%;
  scroll-behavior: smooth;
}

body {
  min-height: 100%;
  line-height: 1.5;
}

svg *[fill] {
  fill: currentColor;
}

svg *[stroke] {
  stroke: currentColor;
}

svg * {
  transition-property: fill, stroke;
}

@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
@font-face {
  font-family: "Space Grotesk";
  src: url("../fonts/SpaceGrotesk-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Space Grotesk";
  src: url("../fonts/SpaceGrotesk-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
:root {
  --color-light: #FFFFFF;
  --color-gray: #F3F3F3;
  --color-green: B9FF66;
  --color-dark: #191A23;
  --color-black: #000000;
  --font-family: "Space Grotesk", sans-serif;
  --border: 1px solid var(--color-dark);
  --border-radius-small: 14px;
  --border-large-small: 45px;
  --wide-content: 1240px;
  --wide-padding-content: 20px;
  --wide-general-content: calc(var(--wide-content) + var( --wide-padding-content) * 2);
}

.visually-hiden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  max-width: var(--wide-general-content);
  margin: 0 auto;
  padding-inline: 20px;
  font-family: var(--font-family);
  font-size: clamp(16px, 1.5vw, 18px);
  line-height: 1.28em;
  font-weight: 400;
  color: var(--color-black);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--color-black);
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 500;
}

.services {
  height: 600px;
}

.button {
  font-size: 20px;
  line-height: 1.4em;
  border-radius: var(--border-radius-small);
  border: none;
}
.button__header {
  padding: 19px 34px;
  border: var(--border);
}
.button-transparent {
  background-color: transparent;
}
.button-dark {
  color: var(--color-light);
  background-color: var(--color-dark);
  padding: 20px 35px;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: 60px 70px;
}
.header__control {
  display: flex;
  align-items: center;
}

.navigation__list {
  display: flex;
  column-gap: 40px;
  margin-right: 43px;
  font-size: 20px;
  line-height: 1.4em;
}

.about {
  display: flex;
  justify-content: space-between;
}
.about__info {
  max-width: 530px;
}
.about__info-title {
  font-size: clamp(43px, 5vw, 60px);
  line-height: 76.56px;
}
.about__info-text {
  font-size: 20px;
  line-height: 1.4em;
  padding-block: 36px 35px;
}
