*,
*::before,
*::after {
  box-sizing: border-box;
}

:where(ul, ol):where([class]) {
  padding-left: 0;
}

body,
:where(blockquote, figure):where([class]) {
  margin: 0;
}

:where(h1, h2, h3, h4, h5, h6, p, ul, ol, dl):where([class]) {
  margin-block: 0;
}

:where(dd[class]) {
  margin-left: 0;
}

:where(fieldset[class]) {
  margin-left: 0;
  padding: 0;
  border: none;
}

:where(ul[class]) {
  list-style: none;
}

p {
  --paragraphMarginBottom: 24px;
  margin-block: 0;
}

p:where(:not([class]):not(:last-child)) {
  margin-bottom: var(--paragraphMarginBottom);
}

img {
  display: block;
  max-width: 100%;
}

input,
textarea,
select,
button {
  font: inherit;
}

html {
  height: 100%;
  scroll-behavior: smooth;
}

body {
  min-height: 100%;
  line-height: 1.5;
}

svg *[fill] {
  fill: currentColor;
}

svg *[stroke] {
  stroke: currentColor;
}

svg * {
  transition-property: fill, stroke;
}

@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
@font-face {
  font-family: "Space Grotesk";
  src: url("../fonts/SpaceGrotesk-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Space Grotesk";
  src: url("../fonts/SpaceGrotesk-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
:root {
  --color-light: #FFFFFF;
  --color-gray: #F3F3F3;
  --color-gray-alt: #898989;
  --color-green: #B9FF66;
  --color-dark: #191A23;
  --colordark-alt: #292A32;
  --color-black: #000000;
  --border-radius-tiny: 7px;
  --border-radius-small: 14px;
  --border-radius-large: 45px;
  --font-family: "Space Grotesk", sans-serif;
  --border: 1px solid var(--color-dark);
  --shadow-card: 0 5px 0 0 var(--color-dark);
  --wide-content: 1240px;
  --wide-padding-content: 20px;
  --wide-general-content: calc(var(--wide-content) + var( --wide-padding-content) * 2);
  --input-height: 59px;
  --transition: all ease .3s;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.position-top {
  display: flex;
  justify-content: start;
  column-gap: 40px;
  padding-block-end: 80px;
}
@media (max-width: 1023px) {
  .position-top {
    justify-content: center;
  }
}
@media (max-width: 767px) {
  .position-top {
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-block-end: 38px;
    row-gap: 27px;
  }
}
.position-top-description {
  max-width: 580px;
}
@media (max-width: 767px) {
  .position-top-description {
    max-width: 100%;
    text-align: center;
  }
}

body {
  max-width: var(--wide-general-content);
  margin: 0 auto;
  padding-inline: 20px;
  font-family: var(--font-family);
  font-size: clamp(16px, 1.5vw, 18px);
  line-height: 1.28em;
  font-weight: 400;
  color: var(--color-black);
  overflow-x: hidden;
}
@media (max-width: 767px) {
  body {
    line-height: 24px;
  }
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--color-black);
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 500;
}

h2 {
  font-size: clamp(36px, 3.33vw, 40px);
  line-height: 51.04px;
}

.title-decoration {
  padding-inline: 7px;
  background-color: var(--color-green);
  border-radius: var(--border-radius-tiny);
}

.alternative {
  background-color: var(--color-light);
}

h3 {
  font-size: clamp(26px, 2.5vw, 30px);
  line-height: 38.28px;
}
@media (max-width: 767px) {
  h3 {
    line-height: 33.18px;
  }
}

.button {
  font-size: 20px;
  line-height: 1.4em;
  border-radius: var(--border-radius-small);
  border: none;
}
@media (hover: hover) {
  .button:hover {
    color: pink;
    transition: var(--transition);
  }
}
@media (hover: none) {
  .button:active {
    color: pink;
    transition: var(--transition);
  }
}
@media (max-width: 767px) {
  .button {
    width: 100%;
  }
}
.button__header {
  padding: 19px 34px;
  border: var(--border);
}
@media (max-width: 1150px) {
  .button__header {
    padding: 5px 10px;
  }
}
@media (max-width: 1150px) {
  .button__about {
    order: 4;
  }
}
.button__services-card {
  position: relative;
  padding: 6.5px 0;
  width: 218px;
}
@media (max-width: 767px) {
  .button__services-card {
    color: transparent;
    width: 120px;
    white-space: nowrap;
    overflow: hidden;
  }
}
.button__services-card::before {
  display: block;
  position: absolute;
  content: "";
  height: 100%;
  aspect-ratio: 1;
  border-radius: 50%;
  top: 50%;
  transform: translate(0, -50%);
  background: center/52% no-repeat url("../image/svg/desktop/arrow.svg") var(--color-dark);
}
.button-transparent {
  background-color: transparent;
}
.button-dark {
  color: var(--color-light);
  background-color: var(--color-dark);
  padding: 20px 35px;
}

.visible-mobile {
  display: none;
}
@media (max-width: 767px) {
  .visible-mobile {
    display: block;
  }
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: 60px 70px;
}
@media (max-width: 1150px) {
  .header__inner {
    padding-block: 18px 28px;
  }
}
.header__control {
  display: flex;
  align-items: center;
}
@media (max-width: 767px) {
  .header__control {
    display: none;
  }
}
@media (max-width: 1150px) {
  .header__logo-image {
    width: 144px;
  }
}

.navigation__list {
  display: flex;
  column-gap: 40px;
  margin-right: 43px;
  font-size: 20px;
  line-height: 1.4em;
}
@media (max-width: 1150px) {
  .navigation__list {
    column-gap: 15px;
    margin-right: 18px;
    font-size: 18px;
  }
}
@media (max-width: 1023px) {
  .navigation__list {
    column-gap: 10px;
    margin-right: 13px;
    font-size: 16px;
  }
}
@media (hover: hover) {
  .navigation__list-item:hover {
    transform: scale(1.1);
    transition: var(--transition);
  }
}
@media (hover: none) {
  .navigation__list-item:active {
    transform: scale(1.1);
    transition: var(--transition);
  }
}

.about {
  display: flex;
  flex-direction: column;
}
.about__top {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 1150px) {
  .about__top {
    flex-direction: column;
    align-items: center;
  }
}
@media (max-width: 1150px) {
  .about__top img {
    order: 2;
  }
}
@media (max-width: 767px) {
  .about__top img {
    height: 310px;
    margin-block-start: 10px;
  }
}
.about__info {
  max-width: 530px;
}
@media (max-width: 1150px) {
  .about__info {
    display: contents;
  }
}
@media (max-width: 1150px) {
  .about__info-n {
    display: none;
  }
}
.about__info-title {
  font-size: clamp(43px, 5vw, 60px);
  line-height: 76.56px;
}
@media (max-width: 1150px) {
  .about__info-title {
    line-height: 55px;
    text-align: center;
    order: 1;
  }
}
@media (max-width: 767px) {
  .about__info-title {
    text-align: left;
  }
}
.about__info-text {
  font-size: 20px;
  line-height: 1.4em;
  padding-block: 36px 35px;
}
@media (max-width: 1150px) {
  .about__info-text {
    text-align: center;
    order: 3;
  }
}
@media (max-width: 767px) {
  .about__info-text {
    font-size: 16px;
    line-height: 1.5em;
    text-align: left;
    padding-block: 21px 40px;
  }
}
.about__list {
  display: flex;
  justify-content: space-between;
  filter: grayscale(100%);
  padding-block: 70px 140px;
}
@media (max-width: 1023px) {
  .about__list {
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 40px;
    padding-block: 70px;
  }
}
@media (max-width: 767px) {
  .about__list {
    padding-block: 60px;
  }
}
@media (max-width: 480px) {
  .about__list {
    justify-content: end;
    column-gap: 38px;
    row-gap: 20px;
    width: calc(100vw + 120px);
    margin-inline: -84px -76px;
  }
}
.about__list-item {
  transition: var(--transition);
}
@media (hover: hover) {
  .about__list-item:hover {
    transform: scale(1.1);
    transition: var(--transition);
  }
}
@media (hover: none) {
  .about__list-item:active {
    transform: scale(1.1);
    transition: var(--transition);
  }
}
@media (max-width: 480px) {
  .about__list-item:nth-child(4) {
    order: 5;
  }
}
@media (max-width: 480px) {
  .about__list-item:nth-child(5) {
    order: 4;
  }
}
@media (max-width: 480px) {
  .about__list-item:nth-child(6) {
    margin-right: 90px;
    order: 6;
  }
}

.services__body {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  padding-block-end: 122px;
}
@media (max-width: 1150px) {
  .services__body {
    justify-items: center;
    grid-template-columns: 1fr;
  }
}
@media (max-width: 767px) {
  .services__body {
    padding-block-end: 70px;
    gap: 30px;
  }
}
.services__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-gray);
  border-radius: var(--border-radius-large);
  padding-inline: 60px 135px;
  margin-block-end: 163.5px;
}
@media (max-width: 1023px) {
  .services__footer {
    padding-inline: 30px;
  }
}
@media (max-width: 767px) {
  .services__footer {
    padding: 50px;
  }
}
.services__footer-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 26px;
  max-width: 500px;
}
@media (max-width: 767px) {
  .services__footer-info {
    row-gap: 20px;
  }
}
.services__footer-title {
  margin: 0;
}
.services__footer img {
  margin-block: -23.5px;
}
@media (max-width: 767px) {
  .services__footer img {
    display: none;
  }
}

.card {
  border: var(--border);
  border-radius: var(--border-radius-large);
  box-shadow: var(--shadow-card);
}
.card__services {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 600px;
  padding: 49px;
}
@media (max-width: 1150px) {
  .card__services {
    max-width: 800px;
    width: 100%;
  }
}
@media (max-width: 767px) {
  .card__services {
    display: grid;
    grid-template-columns: auto auto;
    align-items: end;
  }
}
.card__services:nth-of-type(3n+1) {
  background-color: var(--color-gray);
}
.card__services:nth-of-type(3n+2) {
  background-color: var(--color-green);
}
.card__services:nth-of-type(3n+3) {
  background-color: var(--color-dark);
}
.card__services:nth-of-type(3n+3) .button__services-card {
  color: white;
}
@media (max-width: 767px) {
  .card__services:nth-of-type(3n+3) .button__services-card {
    color: transparent;
  }
}
.card__services:nth-of-type(3n+3) .button__services-card::before {
  background: center/55% no-repeat url("../image/svg/desktop/arrow-white.svg") var(--color-light);
}
@media (max-width: 767px) {
  .card__services-info {
    display: contents;
  }
}
.card__services-title {
  width: max-content;
}
@media (max-width: 767px) {
  .card__services-title {
    grid-column: -1/1;
  }
}
.card__services-title:last-of-type {
  margin-bottom: 93px;
}
@media (max-width: 767px) {
  .card__services-title:last-of-type {
    margin-bottom: 13.8px;
  }
}
@media (max-width: 767px) {
  .card__services img {
    align-self: center;
    max-width: 165px;
    height: auto;
  }
}

.burger-button {
  width: 48px;
  aspect-ratio: 1;
  position: relative;
  border-radius: var(--border-radius-small);
  padding: 0;
  background-color: transparent;
  border: none;
}
@media (hover: hover) {
  .burger-button:hover {
    background-color: var(--color-accent);
  }
}
@media (hover: none) {
  .burger-button:active {
    background-color: var(--color-accent);
  }
}
.burger-button::after {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 24px;
  content: "";
  width: 50%;
  height: 2px;
  background-color: var(--color-dark);
  border-radius: 5px;
  box-shadow: 0 -8px, 0 8px;
}

.case__body {
  display: flex;
  background-color: var(--color-dark);
  border-radius: var(--border-radius-large);
  padding: 70px 60px;
  color: white;
}
.case__body-info {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  width: 100%;
  flex-grow: 1;
}
.case__body-info:not(:first-child) {
  padding-inline-start: 64px;
}
.case__body-info:not(:last-of-type) {
  padding-inline-end: 64px;
  border-right: 1px solid var(--color-light);
}
.case__body-text {
  width: 286px;
}
.case__body-link {
  display: flex;
  align-items: center;
  column-gap: 15px;
  color: var(--color-green);
  font-size: 20px;
  line-height: 1.4em;
}
